
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page-container{
    min-height: 800px;
}

.add-blog-container{
    display: flex;
    justify-content: center;
    min-height: 800px;

}

.input-container{
    align-items: center;
    justify-content: center;

}

