*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #a2c7e5;
}

.page-container{
    padding-top: 150px;
}

.author-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 70px;
    margin-bottom: 30px;
}

.author-img{
    width:60px;
    height:60px;
    margin: 7px;
    border-radius: 999px;
    cursor: pointer;
    margin-right: 20px;
}

.author-name{
    font-size: 15px;
    cursor: pointer;
    margin-bottom: 10px;
    color: #eceff1;
}

.author-date{
    font-size: 13px;
    color: gray;
}

.movie-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 30px;
}

.movie-img{
    width:104px;
    height:142px;
    margin: 7px;
    border-radius: 10px;
}

.movie-name{
    font-size: 30px;
    margin-left: 30px;
}

.movie-container{
    margin-left: 70px;
    margin-right: 70px;
}

.movie-title{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}

.movie-content{
    letter-spacing: 1px;
    line-height: 1.6;
}