*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.text-input-container{
    height: 70px;
    width: 80%;
    background-color: #313e50;
    border-radius: 10px;
    border-color: transparent;
    padding: 10px;
    margin-bottom: 20px;
}

.input-title{
    color: #747c92;
    font-size: 14px;
    margin-bottom: 5px;
}

.text-input{
    border: none;
    margin-bottom: 20px;
    height: 30px;
    width: 100%;
    background-color: transparent;
    outline: none !important;
    color: white;
    font-size: 15px;
    padding-left: 0px;
}