*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card-container{
    display: flex;
    align-items: center;
    background-color: #275dad;
    border-radius: 10px;
    margin: 20px;
    padding: 11px;
    cursor: pointer;
    text-decoration: none;
}

.card-img{
    width:104px;
    height:142px;
    margin: 7px;
    border-radius: 10px;
}

.card-content{
    padding: 20px;
    height: 100;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-name{
    color: #ced3dc;
    font-size: 23px;
    margin-bottom: 10px;
}

.card-title{
    font-size: 17px;
    margin-bottom: 10px;
}

.card-text{
    font-size: 15px;
    color: #ced3dc;
    margin-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
    -webkit-box-orient: vertical;
}

p{
    display: inline;
}

.card-author{
    font-size: 15px;
    color: #aba9c3;
    bottom: 0;
}



